-# ユーザーマイページ
= render "posts/main"
.side
  %h4
    %br &ensp;I visited
  .visited-countries
    -  @posts.each do |post|
      -# = image_tag post.country.flag, class:"flag"
      .tag
        = link_to country_path(post.country_id) do 
          = "# #{post.country.country}"
  -# .map
  -#   MAP >

