* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
}

.wrapper {
  height: 100vh;
  width: 100%;
}

h3 {
  font-size: 30px;
}

h4 {
  font-weight: bold;
}

.header {
  height: 100px;
  width: 100%;
  background-color: lightpink;
  position: fixed;
  top: 0;
  .header-left {
    height: 100%;
    width: 15%;
    background-color: lightskyblue;
    float: left;
    .header-logo {
      display: block;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      line-height: 100px;
    }
  }
  .header-right {
    float: right;
    .link-btn {
      margin-right: 20px;
      margin-top: 15px;
      display: flex;
      &__left {
        margin-right: 5px;
      }
      .btn {
        display: block;
        text-align: center;
        line-height: 30px;
        font-size: 20px;
        height: 30px;
        width: 120px;
        border-radius: 50px;
      }
      #name {
        text-align: center;
        line-height: 30px;
        font-size: 20px;
        height: 30px;
        width: 120px;
        border-radius: 50px;
        background-color: palevioletred;
      }
      #link-btn__login {
        background-color: lightgreen;
      }
      #link-btn__logout {
        margin-top: 5px;
        background-color: lightsalmon;
      }
      #link-btn__mypage {
        background-color: lightskyblue;
      }
      #link-btn__upload {
        margin-top: 5px;
        background-color: lightslategrey;
      }
      #link-btn__newuser {
        margin-top: 5px;
        background-color: lightyellow;
      }
    }
  }
}

.side {
  height: calc(100vh - 100px);
  width: 15%;
  float: left;
  background-color: lightskyblue;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.main {
  overflow: scroll;
  margin-top: 100px;
  height: calc(100vh - 100px);
  width: 85%;
  float: right;
  background-color: lightyellow;
  position: fixed;
  right: 0;

}