.side {
  // height: calc(100vh - 100px);
  // width: 20%;
  // float: left;
  // background-color: lightskyblue;
  .search {
    height: 20%;
    background-color: lightgreen;
    .search-items {
      .search-index {
        display: block;
        height: 25%;
        float: left;
      }
      .search-btn {
        display: block;
        float: right;
      }
    }
  }
  .categories {
    height: 80%;
    .category-item {
      display: block;
      text-align: center;
      height: 25%;
      font-size: 30px;
    }
  }
}

.main {
  // height: calc(100vh - 100px);
  // width: 80%;
  // float: right;
  // background-color: lightgoldenrodyellow;
  &__contents {
    background-color: white;
    margin: 20px;
  }
}