.side {
  .search {
    height: 20%;
    background-color: lightgreen;
    .search-items {
      .search-index {
        display: block;
        height: 25%;
        float: left;
      }
      .search-btn {
        display: block;
        float: right;
      }
    }
  }
  .categories {
    height: 80%;
    .category-item {
      display: block;
      text-align: center;
      height: 25%;
      font-size: 30px;
    }
  }
}

.main {
  &__contents {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    margin-left: 10px;
    &__item {
      background-color: white;
      margin-right: 10px;
      width: 33%;
      height: 300px;
    }
  }
}