.side {
  .search {
    height: 20%;
    background-color: lightskyblue;
    .search-items {
      .search-index {
        display: block;
        height: 25%;
        float: left;
      }
      .search-btn {
        display: block;
        float: right;
      }
    }
  }
  .categories {
    height: 80%;
    .category-item {
      text-align: left;
      display: block;
      height: 25%;
      font-size: 25px;
    }
  }
  .visited-countries {
    margin: 5px;
    .flag {
      width: 60px;
      height: 40px;
    }
  }
}

.main {
  &__contents {
    display: flex;
    margin: 25px;
    &__item {
      position: relative;
      .image {
        border: 2px solid white;
        float: left;
      }
      .list {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        a {
          display: block;
          background-color: white;
          width: 30%;
          border-bottom: 1px solid lightgray;
          padding: 5px;
        }
      }
    }
  }
  &__upload {
    margin: 20px;
    .post-image {
      display: block;
      margin: 20px 0;
      position: relative;
      &__picture {
        .image {
          height: 300px;
          width: 300px;
          border: 1px solid lightslategray;
          opacity: 0.5;
        }
        .hidden {
          display: none;
        }
        .icon {
          position: absolute;
          top: 45%;
          right: 87%;
          font-size: 30px;
          color: gray;
          cursor: pointer;
        }
      }
    }
    .post-tag {
      display: block;
    }
  }
}