.header
  .header-left
    = link_to "#", class: "header-logo" do
      Triphoto
  .header-right
    .link-btn
      = link_to "#", class: "btn link-btn__mypage" do
        MYPAGE
      = link_to "#", class: "btn link-btn__upload" do
        UPLOAD

