.side
  %form.index-search
  .category-items
    = link_to "#", class: "category-item" do
      ALL
    = link_to "#", class: "category-item" do
      LANDSCAPE
    = link_to "#", class: "category-item" do
      FOOD
    = link_to "#", class: "category-item" do
      PEOPLE
